@import url("lecture.css");
div.exercise {
	margin: 25px 0 0 5px;
}
div.exercise input {
	font-family: monospace;
	font-size: inherit;
	background-color: var(--theme-color-1);
	border: solid 2.5px var(--theme-text-color-1);
	color: var(--theme-text-color-1);
	border-radius: 2.5px;
}